body {
  font-family: 'Fira Sans', "Noto Sans JP", Tahoma, Calibri, Helvetica, Arial,sans-serif;
}

.drop-container {
  margin-bottom: 10px;
}

.drop-zone {
  border: 1px solid black;
  width: 50vw;
  height: 10vw;
  text-align: center;
  margin: 0 auto;
  
}

.drop-zone p {
  margin: auto;
}